<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Main page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="bavito.css">
        <link rel="stylesheet" href="bavito-header.css">
    </head>
    <script src="./cookiework.js"></script>
    <script src="./bavito.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <body style="background-color:#49cce3;" ng-app="ng_index" ng-controller="ng_index_ctrl">
        
        <nav class="navbar navbar-expand-md navbar-light bavito-header">
            <a class="navbar-brand" href="index.html">
                <img src="./bavito_files/heading_logo.png" alt="Logo" style="width:130px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>	
            <form class="form-inline" ng-submit="search()">
                <input class="form-control mr-sm-2" type="text" placeholder="Поиск по сайту" id="searchinput">
                <button type="submit" class="btn btn-outline-info">Найти</button>
            </form>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{AddSignLink}}" id="add_sign_link">Добавить объявление</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ProfileLink}}" id="profile_link">Личный кабинет</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{MySignsLink}}" id="my-signs_link">Мои объявления</a>
                    </li>
                </ul>
            </div>
            <form class="form-inline" ng-submit="loginadd()" id="loginform">
                <input class="form-control mr-sm-2" type="text" placeholder="Логин" id="logintextbox">
                <input class="form-control mr-sm-2" type="text" placeholder="Пароль" id="passwordtextbox">
                <button type="submit" class="btn btn-outline-info">Логин</button>
                <a href="registration.html" class="btn btn-outline-info" >Регистрация</a>
            </form>
            <div id="logged">
                <div id="tmp_login"></div>
                <button type="button" class="btn btn-outline-info" onclick="loginremove()">Выйти</button>
            </div>
        </nav>
        <div class="left-bar">
            <div>
                Категории:
                <ol>
                    <li ng-repeat="x in Categories_list">
                        {{ x.CategoryName}}
                    </li>
                </ol>
            </div>
            <img src="./bavito_files/ads_right.png"></img>
        </div>        
        <div class="container-fluid UI">
            <div class="row">
                <div class="col">
                    <a href="https://arhivater.github.io/index.html">
                        <img src="./bavito_files/Advertising.png"></img>
                    </a>
                </div>
            </div>
        </div>        
        <div class="ads-right">
            <img src="./bavito_files/ads_right.png"></img>
        </div>
        <div class="content">
            
            <form class="regform">
                <input ng-model="NewSignData.Name" class="form-control mr-sm-2 textinput" type="text" placeholder="Название:"></input><br>
                <input ng-model="NewSignData.Category" class="form-control mr-sm-2" type="text" placeholder="Категория:"></input><br>
                <input ng-model="NewSignData.Adress" class="form-control mr-sm-2" type="text" placeholder="Адрес:"></input><br>
                <input ng-model="NewSignData.Price" class="form-control mr-sm-2" type="text" placeholder="Цена:"></input><br>    
                <button type="submit" class="btn btn-outline-info" ng-click="AddSign(NewSignData)">Добавить объявление</button>
                <div class="alert alert-success" role="alert" display="none" id="alert">
                    
                </div>
            </form>
        </div>
        <script src="./AddSignAngular.js"></script>
    </body>
</html>