.left-bar{
	float: left;
	background-color: #45c0d6;
	min-height: 100vh;
	width: 150px;
}
.ads-right{
	width: 200px;
	float: right;
	text-align: center;
	vertical-align: middle;
	min-height: 100vh;
}
.col{
	text-align: center;
}
.card{
	background-color: #49cce3;
	max-height: 300px;
	max-width: 200px;
	min-height: 300px;
	min-width: 200px;
}
.card-deck{
	padding: 10px 0px 0px 0px;
}
.card-price{
	font-weight: bold;
}
a {
    color: white;
}