P {
color: #ffffff; 
}
H1{
color: #ffffff; 	
}
H2{
color: #ffffff; 	
}
H3{
color: #cfcfcf; 	
}
body{
	background-color:#636363;
}
A {
	color: grey;
	background:#4f4f4f;
}
A:visited {
    color: grey; 
   }
A:active {
    color: white; 
   }
HR{
	color:#dbdbdb
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	z-index: -100;
}
.overlay {
    position: absolute;
    top:0;
    left:0;
}